/* src/pages/Home.css */
body{
background-color: rgb(222, 230, 230);

}


.home-container {
  /* display: flex;
  justify-content: center;
  align-content: center; */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    height: 100vh;
  }
  
  /* Add more styles as needed */
  